---
- hosts: nginx_web
  become: yes
  become_user: root
  vars:
    - docroot: /var/www/pnh.vn/public
  tasks:
    - name: Install nginx
      yum:
        name: nginx
        state: present
        update_cache: true
      notify:
        - Start nginx
    - name: create Web root
      file:
        path: '{{docroot}}'
        mode: 775
        state: directory
        owner: www-data
        group: www-data
      notify:
        - Reload nginx  
  handlers:
    - name: Start nginx
      service:
        name: nginx
        state: restarted
      #debug: msg="Handler is running"
    - name: Reload nginx
      service:
        name: nginx
        state: reloaded
