---
- hosts: nginx_web
  become: yes
  become_user: root
  tasks:
    - name: update linux
      yum:
        name: '*'
        state: latest

    - name: Enable EPEL Repository on CentOS 8
      dnf:
        name: epel-release
        state: latest
        become: True
      when: ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution_major_version'] == '8'

    - name: Enable EPEL Repository on CentOS 7
      yum:
        name: epel-release
        state: latest
      when: ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution_major_version'] == '7'

    - name: Install nginx
      yum: 
#name=haproxy state=absent update_cache=true
        name: nginx
        state: present
        update_cache: true
      notify:
        - Start nginx  
  handlers:
    - name: Start nginx
      #service:
      #  name: nginx
      #  state: restarted
      debug: msg="Handler is running"

#handler chi chay khi tasks= changed
