---
- hosts: nginx_web
  become: yes
  become_user: root
  tasks:
    - name: Install nginx
      yum:
        name: nginx
        state: present
        update_cache: true
      notify:
        - Start nginx  
  handlers:
    - name: Start nginx
      #service:
      #  name: nginx
      #  state: restarted
      debug: msg="Handler is running"

#handler chi chay khi tasks= changed
