---
- hosts: nginx_web
  become: yes
  become_user: root
  tasks:
    - name: Install nginx
      yum:
        name: nginx
        state: present
        update_cache: true
      notify: show uptime
  handlers:
    - name: Start nginx
      service:
        name: nginx
        state: restarted
    - name: show uptime
      shell: uptime
      register: command_output
    - debug:
        var: command_output.stdout_lines
